.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 100s linear; */
    animation: App-logo-spin 0.3s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: inline-flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 0.2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
