.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  width: 48px;
  pointer-events: none;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 100s linear; */
    animation: App-logo-spin 0.3s linear;
  }
}

.App-header {
  /* display: inline-flex; */
  font-size: calc(10px + 0.2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
